
.contact-form {
    margin-top:70px;
}


.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 8px;
  width: auto;
}

/* Background Logo*/
.example6 .navbar-brand{ 
  background-image: center / contain no-repeat;
  width: 200px;
}

/* CSS Transform Align Navbar Brand Text ... This could also be achieved with table / table-cells */
.navbar-alignit .navbar-header {
	  -webkit-transform-style: preserve-3d;
	  -ms-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 50px;
}
.navbar-alignit .navbar-brand {
	top: 50%;
	display: block;
	position: relative;
	height: auto;
	transform: translate(0,-50%);
	margin-right: 15px;
  margin-left: 15px;
}
.navbar-nav>li>.dropdown-menu {
	z-index: 9999;
}
/*end nav bar*/
.carousel,
.item,
.active {
    height: 100%;
}
.carousel-inner {
    height: 100%;
}
/* Background images are set within the HTML using inline CSS, not here */
.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
footer {
    margin: 80px 0;
}
#logomenu{
    max-height: 200%;
    max-width: 200%;
    height: 200%;
    width: 200%;
}
.shkrimi {
    font-size: smaller;
    block-size: auto;
    color: white;
}

* {
	margin: 0;
	padding: 0;
}
a:focus {
	outline: none !important;
}
a:hover {
	text-decoration: none;
}
/* portfolio section */
.whitespace-area {
  background-color: #3BB9FF; /*color blue*/
  padding: 80px 0;
}
.white-space > h1 {
  color: #434343; /*color red*/
  font-size: 30px;
  text-transform: uppercase;
}
.wa-devider {
  padding: 30px 0;
  position: relative;
}
.wa-devider i {
	border: 1px solid #fff;
	border-radius: 50%;
	color: #fff;
	display: inline;
	padding: 5px;
	vertical-align: middle;	
	font-size: 10px;
}
.wa-devider:before {
	content: "";
	position: absolute;
	top: 40px;
	left: 0;
	height: 1px;
	width: 47%;
	background-color: #ddd;
}
.wa-devider:after {
	content: "";
	position: absolute;
	top: 40px;
	right: 0;
	height: 1px;
	width: 47%;
	background-color: #ddd;
}
.white-space > p {
  color: #000;
}
.portfolio-area {
  padding: 50px 0;
}
.portfolio-area ul {
	list-style: none;
	padding-bottom: 30px;
}
.portfolio-area ul li {
	display: inline-block;
}
.portfolio-area ul li a {
	font-style: italic;
	padding: 5px 15px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
.portfolio-area ul li a.active,
.portfolio-area ul li:hover a {
	color: #DD374D;
	text-decoration: underline;
}
.single-portfolio {
	margin-bottom:30px;
	position: relative;
}
.single-portfolio .port-info {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.2);
	color: #fff;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding-top: 25%;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	-moz-transform: scale(0);
	transform: scale(0);
}
.single-portfolio:hover .port-info {
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);	
}
/* google map */
.googleMap-area {
	padding: 80px 0;
	background-color: #3BB9FF; /*color blue*/
}
.googleMap-content {
	color: #fff;
	position: relative;
}
.googleMap-content > h1 {
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
}
.googleMap-content > p {
	font-size: 15px;
	padding-top: 20px;
}
.googleMap-content > i {
	background-color: #DC381F;
	border: 5px solid #fff;
	border-radius: 50%;
	bottom: -115px;
	display: inline-block;
	font-size: 40px;
	left: 45%;
	padding: 10px 18px;
	position: absolute;
	z-index: 1;	
}
.map-devider {
	position: relative;
}
.map-devider i {
	border: 1px solid #fff;
	border-radius: 50%;
	display: inline-block;
	padding: 5px 7px;
}
.map-devider:before {
	background-color: #fff;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	top: 10px;
	width: 47%;	
}
.map-devider:after {
	background-color: #fff;
	content: "";
	height: 1px;
	right: 0;
	position: absolute;
	top: 10px;
	width: 47%;		
}
/* footer section */
.footer-area {
	background-color: #3BB9FF; /*color blue*/
	padding: 35px 0;
}
footer {
    margin: 0;
}
.foot-social-icon {
	margin-bottom: 15px;
	text-align: center;
}
.foot-social-icon a:hover i {
	background-color: #3BB9FF; /*color Gray Cloud*/
	border-color: #3BB9FF;
}
.foot-social-icon a i{
	border: 1px solid #fff;
	border-radius: 50%;
	color: #fff;
	margin-left: 5px;
	margin-right: 5px;
	-webkit-transition: all .5s;
	-o-transition:all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
.foot-social-icon a i.fa-facebook {
	padding: 5px 8px;
}
.foot-social-icon a i.fa-twitter {
	padding: 5px;
}
.foot-social-icon a i.fa-pinterest {
	padding: 5px 6px;
}
.foot-social-icon a i.fa-google-plus {
	padding: 5px;
}
.foot-social-icon a i.fa-instagram {
	padding: 5px 6px;
}
.foot-social-icon a i.fa-youtube {
	padding: 5px 6px;
}
.copyright, .copyright a {
	color: #fff;
	text-align: center;
}
/* end footer section */



.rg-image-wrapper{
	position:relative;
	padding:20px 30px;
	background:#fff repeat top left;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	min-height:20px;
}
.rg-image{
	position:relative;
	text-align:center;
	line-height:0px;
}
.rg-image img{
	max-height:100%;
	max-width:100%;
}
.rg-image-nav a{
	position:absolute;
	top:0px;
	left:0px;
	background:#B6B6B4 url(../img/nav.png) no-repeat -20% 50%; /*color Gray Cloud */ 
	width:28px;
	height:100%;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.3;
	outline:none;
	-moz-border-radius: 10px 0px 0px 10px;
	-webkit-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;
}
.rg-image-nav a.rg-image-nav-next{
	right:0px;
	left:auto;
	background-position:115% 50%;
	-moz-border-radius: 0px 10px 10px 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	border-radius: 0px 10px 10px 0px;
}
.rg-image-nav a:hover{
	opacity:0.8;
}
.rg-caption {
	text-align:center;
	margin-top:15px;
	position:relative;
}
.rg-caption p{
	font-size:11px;
	color: #6D7B8D; /*color Light Slate Gray*/
	letter-spacing:2px;
	font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
	line-height:16px;
	padding:0 15px;
	text-transform:uppercase;
}
.rg-view{
	height:30px;
}
.rg-view a{
	display:block;
	float:right;
	width:16px;
	height:16px;
	margin-right:3px;
	background:#464646 url(../img/views.png) no-repeat top left; /* url(img/views.png) no-repeat top left;*/
	border:3px solid #464646;
	opacity:0.8;
}
.rg-view a:hover{
	opacity:1.0;
}
.rg-view a.rg-view-full{
	background-position:0px 0px;
}
.rg-view a.rg-view-selected{
	background-color:#6f6f6f;
	border-color:#6f6f6f;
}
.rg-view a.rg-view-thumbs{
	background-position:0px -16px;
}
.rg-loading{
	width:46px;
	height:46px;
	position:absolute;
	top:50%;
	left:50%;
	background:#000 url(../img/ajax-loader.gif) no-repeat center center; /*url(img/ajax-loader.gif) no-repeat center center;*/
	margin:-23px 0px 0px -23px;
	z-index:100;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	opacity:0.7;
}


/* Elastislide Style */
.es-carousel-wrapper{
	background: #3BB9FF; /*color Gray Cloud*/
	padding:10px 27px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	position:relative;
	-moz-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow:0px 1px 3px rgba(0, 0, 0, 0.2);
	position:relative;
	margin-bottom:20px;
}
.es-carousel{
	overflow:hidden;
	background:#3BB9FF; /*color Gray Cloud*/
}
.es-carousel ul{
	display:none;
}
.es-carousel ul li{
	height:100%;
	float:left;
	display:block;
}
.es-carousel ul li a{
	display:block;
	border-style:solid;
	border-color:#fff;
	opacity:0.8;
	-webkit-touch-callout:none;
	/* option */
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.es-carousel ul li.selected a{
	border-color:#3BB9FF; /*color Gray Cloud*/;
	opacity:1.0;
}
.es-carousel ul li a img{
	display:block;
	border:none;
	max-height:100%;
	max-width:100%;
}
.es-nav span{
	position:absolute;
	top:50%;
	left:8px;
	background:transparent url(../img/nav_thumbs.png) no-repeat top left;
	width:14px;
	height:26px;
	margin-top:-13px;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.8;
}
.es-nav span.es-nav-next{
	right:8px;
	left:auto;
	background-position:top right;
}
.es-nav span:hover{
	opacity:1.0;
}

/*end*/