<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Exhibitions</title>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
        <meta name="description" content="#" />
        <meta name="keywords" content="#" />
		<meta name="author" content="Ndue Kolaba" />
		<link rel="shortcut icon" href="img/favicon1.ico" type="image/x-icon" /> 
   		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/stylesCSS.css" />
		<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow&v1' rel='stylesheet' type='text/css' />
		<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css' />
		<noscript>
			<style>
				.es-carousel ul{
					display:block;
				}
			</style>
		</noscript>
		<script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">	
			<div class="rg-image-wrapper">
				{{if itemsCount > 1}}
					<div class="rg-image-nav">
						<a href="#" class="rg-image-nav-prev">Previous Image</a>
						<a href="#" class="rg-image-nav-next">Next Image</a>
					</div>
				{{/if}}
				<div class="rg-image"></div>
				<div class="rg-loading"></div>
				<div class="rg-caption-wrapper">
					<div class="rg-caption" style="display:none;">
						<p></p>
					</div>
				</div>
			</div>
		</script>
    </head>
    <body>
			<div class="content">
				<h1><img class="img-responsive img-rounded" style="width:200px;height:60px;" src="img/ArtOfSoul.png"><span>Exhibitions: Art language of Soul!</span><span> Works on oil, pencil, mosiac etc. Artist: Ndue Kolaba</span></h1>
				<div id="rg-gallery" class="rg-gallery">
					<div class="rg-thumbs">
						<!-- Elastislide Carousel Thumbnail Viewer -->
						<div class="es-carousel-wrapper">
							<div class="es-nav">
								<span class="es-nav-prev">Previous</span>
								<span class="es-nav-next">Next</span>
							</div>
							<div class="es-carousel">
								<ul>
									<li><a href="#"><img src="img/thumbs/1.jpg" data-large="img/1.jpg" alt="image01" data-description="Title: Sister, Oil painting" /></a></li>
									<li><a href="#"><img src="img/thumbs/2.jpg" data-large="img/2.jpg" alt="image02" data-description="Title: Passion, Mosaic" /></a></li>
									<li><a href="#"><img src="img/thumbs/3.jpg" data-large="img/3.jpg" alt="image03" data-description="Title: Pufi, Oil painting" /></a></li>
									<li><a href="#"><img src="img/thumbs/4.jpg" data-large="img/4.jpg" alt="image04" data-description="Title: Rubens wife and Son, Oil painting" /></a></li>
									<li><a href="#"><img src="img/thumbs/5.jpg" data-large="img/5.jpg" alt="image05" data-description="Title: Rose, Oil painting" /></a></li>
									<li><a href="#"><img src="img/thumbs/6.jpg" data-large="img/6.jpg" alt="image06" data-description="Title: Passion, pencil" /></a></li>
									<li><a href="#"><img src="img/thumbs/7.jpg" data-large="img/7.jpg" alt="image07" data-description="Title: Broken Heart, water color" /></a></li>
									<li><a href="#"><img src="img/thumbs/8.jpg" data-large="img/8.jpg" alt="image08" data-description="Title: Grandmother Ivanka, Oil painting" /></a></li>
									<li><a href="#"><img src="img/thumbs/9.jpg" data-large="img/9.jpg" alt="image09" data-description="Title: Violin and Rose, Oil painting" /></a></li>
									<li><a href="#"><img src="img/thumbs/10.jpg" data-large="img/10.jpg" alt="image10" data-description="Title: Free Spirit, Oil painting" /></a></li>
									<li><a href="#"><img src="img/thumbs/11.jpg" data-large="img/11.jpg" alt="image11" data-description="Title: Rose on Table, pencil" /></a></li>
									<li><a href="#"><img src="img/thumbs/12.jpg" data-large="img/12.jpg" alt="image12" data-description="Title: Angel of Music, Mosaic" /></a></li>
									<li><a href="#"><img src="img/thumbs/13.jpg" data-large="img/13.jpg" alt="image13" data-description="Title: Pufi 2, pencil" /></a></li>
									<li><a href="#"><img src="img/thumbs/14.jpg" data-large="img/14.jpg" alt="image14" data-description="Title: Rose, water color" /></a></li>
									<li><a href="#"><img src="img/thumbs/15.jpg" data-large="img/15.jpg" alt="image15" data-description="Title: Arch, Rapid pen" /></a></li>
									<li><a href="#"><img src="img/thumbs/16.jpg" data-large="img/16.jpg" alt="image16" data-description="Title: Love cat's, water color" /></a></li>
									<li><a href="#"><img src="img/thumbs/17.jpg" data-large="img/17.jpg" alt="image17" data-description="Title: Books on Table, Rapid pen" /></a></li>
									<li><a href="#"><img src="img/thumbs/18.jpg" data-large="img/18.jpg" alt="image18" data-description="Title: Rose, Oil painting" /></a></li>
									<li><a href="#"><img src="img/thumbs/19.jpg" data-large="img/19.jpg" alt="image19" data-description="Title: Albania 100, Rapid pen" /></a></li>
									<li><a href="#"><img src="img/thumbs/20.jpg" data-large="img/20.jpg" alt="image20" data-description="Title: Autoportret, pencil" /></a></li>
									<li><a href="#"><img src="img/thumbs/21.jpg" data-large="img/21.jpg" alt="image21" data-description="Title: Buterfly, water color" /></a></li>
									<li><a href="#"><img src="img/thumbs/22.jpg" data-large="img/22.jpg" alt="image22" data-description="Title: Deffernt, pencil" /></a></li>
									<li><a href="#"><img src="img/thumbs/23.jpg" data-large="img/23.jpg" alt="image23" data-description=" Music, Oil painting" /></a></li>
									<li><a href="#"><img src="img/thumbs/24.jpg" data-large="img/24.jpg" alt="image24" data-description="Title: Trees, Oil painting" /></a></li>
								</ul>
							</div>
						</div>
						<!-- End Elastislide Carousel Thumbnail Viewer -->
					</div><!-- rg-thumbs -->
				</div><!-- rg-gallery -->
<br>
		        <footer id="footer-section" class="footer-area">
		            <div class="container">
		                <div class="row">
		                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		                        <div class="foot-social-icon text-center">
		                            <a href=""><i class="fa fa-facebook"></i></a>
		                            <a href=""><i class="fa fa-google-plus"></i></a>
		                            <a href=""><i class="fa fa-twitter"></i></a>
		                            <a href=""><i class="fa fa-pinterest"></i></a>
		                            <a href=""><i class="fa fa-instagram"></i></a>
		                            <a href=""><i class="fa fa-youtube"></i></a>
		                            
		                        </div>
		                        <div class="copyright text-center">Copyright &copy; 2015 Ndue Kolaba</div>
		                    </div>
		                </div>
		            </div>
		        </footer><!--end footer-->   
			</div><!-- content -->
		</div><!-- container -->
		<script src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/jquery.min.js" ></script>
		<script type="text/javascript" src="js/jquery.tmpl.min.js"></script>
		<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
		<script type="text/javascript" src="js/jquery.elastislide.js"></script>
		<script type="text/javascript" src="js/gallery.js"></script>
    </body>
</html>